body, h1, h2, h3, p, ul, li {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f1f5;
  color: rgb(10, 9, 9);
  padding: 10px 20px;
}

.left {
  font-size: 1.5rem;
}

.right {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 10px;
}

.homepage {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
}

.package-list {
  flex: 1;
  padding: 20px;
}

.package-list h2 {
  margin-bottom: 10px;
}

.package-list-container {
  display: flex;
  flex-direction: column;
}

.package-item {
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none; 
  border-right: none; 
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.package-item:hover {
  background-color: #e0e0e0;
}

.package-item.selected {
  background-color: #d2caef;
  color: white;
}

.package-details {
  flex: 1;
  padding: 20px;
  
}

.package-details h2 {
  margin-bottom: 10px;
}

.package-details div {
  margin-bottom: 10px;
}

.package-details strong {
  display: inline-block;
  width: 150px; 
  font-weight: bold;
}

.package-details span {
  margin-left: 10px;
}

.package-details pre {
  white-space: pre-wrap; 
}

.package-details div:nth-child(4), 
.package-details div:nth-child(5), 
.package-details div:nth-child(6), 
.package-details div:nth-child(7), 
.package-details div:nth-child(8) { 
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .right {
    margin-top: 10px;
  }

  .homepage {
    flex-direction: column;
  }

  .package-list,
  .package-details {
    width: 100%;
  }
}
